/* Common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* debug  */
.debug .container{   
    margin-top: 3rem;
}
/* Utilities */
.flex{
    display: flex;
}

/* container */
.container{
    margin: auto;
    height: 500px;  
}
.selected{
        height: 100%;   
    background: darkkhaki;
}
.imageList{
    display: flex;
    flex-direction: column;
    height: 100px;
}
.bigImage{
    height: 100%;
    max-width: 1000px;
}
.sideImage{
  max-height: 100%;
  max-width: 100%;
}
/* .btn_top{
    position: absolute;
    top: 0;
    right: 50%;

}
.btn_bottom{
    position: absolute;
    bottom: 0;
    right: 50%;
} */

