/* Common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* debug  */
.debug .container{   
    margin-top: 3rem;
}

.debug .image{
    background-color: cornflowerblue;
    border: 1px solid black;
    
}




/* Utilities */
.flex{
    display: flex;
}

.col_10{
    width: calc((100% / 12) * 10);
    background-color: chartreuse;
    height: 100%;
}
.col_2{
    width: calc((100% / 12) * 2);
    background-color: chocolate;
    height: 100%;
}
/* container */
.container{
    margin: auto;
    height: 500px;
    width: 1200px;
}
.row{
    height: 100%;
}
.gallery{
    flex-direction: column;
    position: relative;
}
.image{
    height: calc((100% / 5) *1);
    width: 100%;
}
.btn_top{
    position: absolute;
    top: 0;
    right: 50%;

}
.btn_bottom{
    position: absolute;
    bottom: 0;
    right: 50%;

}