/* Common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* debug  */
.debug .container{   
    margin-top: 3rem;
}

/* Utilities */

.flex{
    display: flex;
}

/* container */
.container{
    margin: auto;
    height: 500px;  
    display: flex;
}
.containerRight{
    height: 500px;
    display: flex;
    flex-direction: column;
    height: 100px;
    position: relative;
}
.containerLeft{
    height: 500px;
}
.matriosca{
    position: relative;
}
/* immagine grande */

.selected{
    height: 100%;   
    background: darkkhaki;
    display: none;
}
.imgSelectedBig{
    display: block;
}
.bigImage{
    height: 100%;
    max-width: 1000px;
}
.etichetta{
        position: absolute;
    color: white;
    right: 40px;
    bottom: 26px;
    text-align: end;
}

/* lista immagini */
.imageList{
    display: flex;
    flex-direction: column;
    height: 100px;
}
.sideImage{
    opacity: 0.5;
}
.imgSelectedSmall{
    opacity: 1;
}
.sideImage{
  max-height: 100%;
  max-width: 100%;
}

/* bottoni */

.btn_top{
    position: absolute;
    top: 0;
    right: 47%;
    padding: 0.5rem;
    z-index: 324234;

}
.btn_bottom{
    position: absolute;
    bottom: 0;
    right: 47%;
    padding: 0.5rem;
    z-index: 34252;
}

